
    .headerFather {
        width: 100%;
        height: 14vh;
        display: flex;
        justify-content: space-between;
        background-color: black
    };
.logo{
    position: relative;
    height: 18vh;
    width: 18vw;
    top: -2vh;
    left: -44vw;
}
.iconFather{
    @include spaceBetweenStartRow;
    width: 10%;
}
.icon{
    text-decoration: none;
    color: white;
    position: relative;
    left: 22vw;
}
.signUp{
    position: relative;
    left: 22vw;
    color: white;
}
.search-bar{
    width: 80%;height: 12vh;
    border: 1px solid red;
}
.signUpFather{
    @include spaceBetweenStartRow;
    width: 8vw;
}
.fatherCurrentWeather{
    @include centerRow;
    width: 16vw;
}
.currentFather{
    @include spaceBetweenColumn;
    width: 8vw;
}
.currentLabel, .currentData{
    color: white;
    text-align: center;
}
.currentLabelHumidity{
    width: 6vw;
    color: white;
    text-align: center;
}
.imgWeatherFather{

   @include flex-center; 
}
.date{
    color: white;
}
.dateFather{
    width: 12vh;
    height: 2vh;

}



