.health{
    font-size: 2rem;
    color: #000;
    font-weight: bolder;
    position: relative;
    top: -77vh;
    &:hover{
        color: yellow;
     }
     &:active{
        color: red;
     }
    
}