.latestContainer, .mustreadContainer{
    @include spaceBetweenStartColumn;
    height: 200px;
    width: 400px;
    @include responsive(mobile){
        display: none;
    }
}
.latestword, .mustreadtword{
    color: #000;
    font-weight: bolder;
    font-size: 2rem;
    position: relative;
    top: -3vh;
    margin: 2vh auto;
    @include responsive(mobile){
        display: none;
    }
}

.latestContainer{
    position: relative;
    top: 60vh;

}
.mustreadContainer{
position: relative;

top: 0vh;
}
.latestFather{
    @include  spaceBetweenStartRow;
    width: 300px;
    height: 100px;
    margin: 4vh;
    position: relative;
    
}
.latestFatherActive{
    @include spaceBetweenColumn;
    width: 300px;
    height: 300px;
    margin-bottom: 12vh;

    &::after{
        content: "";
        border-bottom:2px solid gray;
        position: relative;
        width: 16vw;
        top: 8vh;
        height: 1vh;
    }
    

}
.latestOther{
    @include spaceBetweenStartColumn;
    width: 100%;
    height: 100px;
}
.latestImg{
    width: 50%;
    height: 100px;
}
.latestImgActive{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    filter: grayscale(10%);
    object-fit: contain;

}
.latestTitle{
    font-size: 10px;
    text-align: center;
    color: blue;
    opacity: 0.5;
    cursor: pointer;
}
  .latestpublish{
    color: #000;
    font-size: 10px;
    text-align: center;
}
.latestTitle,.latestTitleActive{
    cursor: pointer;
&:hover{
    color:yellow;
}
&:active{
    color:red;
}}
.latestTitleActive{
    font-size: 20px;
    color: blue;
    opacity: 0.5s;

}

 .latestpublishActive{
color: #000;
font-size: 20px
}
.authorLatestFather, .authorLatestFatherActive{
  @include  startRow;
  width: 100%;
}
.latestAuthorWordActive, .latestAuthorActive{
    color: #000;
    font-size: 15px;
}
.latestAuthorWord, .latestAuthor{
    color: #000;
    font-size: 10px;
}.latestAuthor{
    width: 100%;
}
.adsLatestFather{
    
    @include spaceBetweenStartColumn;
    position: relative;
    top: -55vh;
}
.adsLatest1,.adsLatest2,.adsLatest3{
height: 30vh;
width: 12vw;
background-color: red;
margin: 10% auto;
font-size: 1.5rem;
@include flex-center;
font-weight: bolder;
border: 1px solid black;
color: white;
animation: ads 1s infinite ease-in-out;
@keyframes ads {
    5%{
        color: white;

    }
    20%{
        color: red;

    }   
}   

}
