.linkContainerFather{
    @include startRow;
    width: 1800px;
    height: 2800px;
    @include responsive(mobile){
        @include spaceBetweenStartColumn;
        width: 100%;
        height: 2000px;
    }
}
.linkContainerFatherDark{
    @include startRow;
    width: 100%;
    height: 2800px;
    background-color: hsl(249,6%,18%);
}
.linkContainerFatherDarkMobile{
    @include flexCenterColumn;
    width: 100%;
    height: 2000px;
}

.linkContainerFatherDarkMobile{
     background-color: hsl(249,6%,18%);
}

.linkContainer{
    @include spaceBetweenStartColumn;
    position: relative;
    width: 1000px;
    top: 4vh;
@include responsive(mobile){
    width: 100%;
    height: 2000px;
}
}
.linkFather{
   @include spaceBetweenStartColumn;
   height: 1200px;
   width: 1000px;
   @include responsive(mobile){
    width: 100%;
}
}
.topFather{
    @include startRow;
    height: 1vh;
    width: 50%;
    @include responsive(mobile){
        width: 90%;
        height: 2vh;    
        margin-top: 1vh; 
  
    }
}
.topFatherDarkMobile{
    @include spaceBetweenStartRow;
    width: 75%;
    height: 1vh;   
}
.imgDiv{
    @include startColumn;
    width: 60%;
    position: relative;
    left: -8vh;
}
.imgLink{
    height: 600px;
    width: 800px;
    object-fit: contain;
    @include responsive(mobile){
        width: 350px;
        height: 400px;
    }
}
.linkmidContainer{
    @include flex-center;
    height: 22vh;
    width: 100%;
    @include responsive(mobile){
        width: 90%;
        height: 33vh;
        @include startRow;
    }
}

.linkmidFather{
    width: 100%;
   @include responsive(mobile){
    width: 400px;
    
}
}
.linkInfoFather{
    @include spaceBetweenStartRow;
    width: 100%;
    @include responsive(mobile){
        @include startColumn; 
        }
}

 .linkInfo{
    height: 2vh;
    @include startRow;
    width: 100%;
    @include responsive(mobile){
    height: 4vh;
     width: 100%;   
    }
}
.linkPuplish{
    color: #000;
}
.linkPuplishDark, .linkPuplishDarkMobile{
    color:white;
}

.linkPuplish,.linkPuplishDark{
    @include endRow;
    width: 400px;
}
.linkCategory{
    color: #000;
}
.linkCategoryDark,.linkCategoryDarkMobile{
    color: white;
}

.linkAuthorDark, .linkAuthorDarkMobile{
    color: white;
}

.linkAuthorWord{
    color: #000;
    font-weight: bolder;
}
.linkAuthorWordDark, .linkAuthorWordDarkMobile{
    color: white;
    font-weight: bolder;
}

.shareIcon{
    font-size: 2rem;
    position: relative;
    left: -2vh;
    top: -.5vh;
    color: rgba(0, 0, 0, 0.192);
    filter: grayscale(50%);
    @include responsive(mobile){
       top: -1vh;
       left: 0;
     }
}
.otherIcons{
    position: relative;
    @include responsive(mobile){
        top: -0.5vh;
      }
}
.shareIconDarkMobile{
    font-size: 1.5rem;
    position: relative;
    top: -1.3vh;
    left: 0;
    filter: grayscale(50%);
    color: white;
    margin-left: 2vh;
}
 .linkDes{
    font-size: 1.5rem;
    font-weight: bolder;
    height: 8vh;
    width: 400px;
    overflow: hidden;
}
.seemoreFather{
    @include flex-center;
    width: 800px;
    height: 3000px;

    @include responsive(mobile){
        width: 400px;
        height: 2900px;
    }
}

.content{
    color: #000;
}
.contentDark{
    color:white;
}
.content{
    font-weight: bolder;
    color: #000;
    font-size: 1.6rem;
    line-height: 44px;
    margin-bottom: 2vh;
    height: 100%;
    margin-top: 3vh;
    &::first-letter{
        color: red;
        font-size: 4rem;
    }
    &::first-line{
        text-indent: 222px;
    }
    @include responsive(mobile){
        font-size: 1rem;
        line-height: 22px;
    }
}
.contentDark{
    font-weight: bolder;
    color: white;
    font-size: 1.6rem;
    line-height: 44px;
    margin-bottom: 2vh;
    height: 100%;
    margin-top: 3vh;
    &::first-letter{
        color: red;
        font-size: 4rem;
    }
    &::first-line{
        text-indent: 222px;
    }
}
.contentDarkMobile{
    color: white;
    line-height: 44px;
    height: 100%;
    font-size: 1rem;
    line-height: 22px;
    &::first-letter{
        color: red;
        font-size: 4rem;
    }
    &::first-line{
        text-indent: 222px;
    }
}

.linkTitleDark,.linkTitleDarkMobile{
    color:white;
}
.linkTitleDarkMobile{
    @include flex-center;
    font-weight: bolder;
    height: 12vh;
    width: 100%;
    font-size: 1rem;
    text-align: center;
}

.linkTitle,.linkTitleDark{
    @include flex-center;
    font-size: 2rem;
    font-weight: bolder;
    height: 12vh;
    width: 100%;
    text-align: center; @include responsive (mobile){
        height: 12vh;
        font-size: 1rem;
    }
    }

.linkAuthor, .linkSpurce{
    color: #000;
    @include responsive(mobile){
       @include flex-center; 
        width: 100%;
    }
}
.goUpanchorLink{
    color: #000;
        font-weight: bolder;
    @include responsive(mobile){
        width: 12vw;
        
    }
}

.goUpLink{
    height: 33vh;
    @include flexCenterColumn;
    @include responsive (mobile){
        height: 18vh;

    }
}
.back{
    height: 6vh;
    @include responsive (mobile){
        height: 6vh;
    }
}
.goUpanchorLinkDark,.goupwordLinkDark{
    color: white;
}
.goupwordLink,.goupwordLinkDark{
    animation: go 1s infinite ease-in-out;
@keyframes go {
   from{
      transform: scale(0);

   }
   to{
      transform: scale(1);
   }  
}
    }

.advertiseLink{
    width: 45vw;
   @include  flex-center; 
    height: 9vh;
    background-color: blue;
    font-weight: bolder;
    color: white;
    font-size: 2rem;
    position: relative;
    left: 1vw;
    animation: ads 1s infinite ease-in-out;
    @keyframes ads {
        5%{
            color: red;

        }
        20%{
            color: white;

        }   
    }   
}
