.linkContainerFather{
    @include startRow;
    width: 1800px;
    height: 2800px;
    @include responsive(mobile){
        @include spaceBetweenStartColumn;
        width: 400px;
        height: 3050px;
    }
}

.linkContainer{
    @include spaceBetweenStartColumn;
    position: relative;
    width: 1000px;
    top: 4vh;
@include responsive(mobile){
    width: 400px;
    height: 3000px;
   
}
}
.linkFather{
   @include spaceBetweenStartColumn;
   height: 1200px;
   width: 1000px;
   @include responsive(mobile){
    width: 400px;
}
}
.topFather{
    @include startRow;
    height: 1vh;
    width: 50%;
    @include responsive(mobile){
        width: 100%;
        height: 2vh;     
  
    }
}
.imgDiv{
    @include startColumn;
    width: 60%;
    position: relative;
    left: -8vh;
}
.imgLink{
    height: 600px;
    width: 800px;
    object-fit: contain;
    @include responsive(mobile){
        width: 400px;
        height: 400px;
    }
}
.linkmidContainer{
    @include flex-center;
    height: 22vh;
    width: 100%;
    @include responsive(mobile){
        width: 400px;
        height: 33vh;
        @include startRow;
    }
}

.linkmidFather{
    width: 100%;
   @include responsive(mobile){
    width: 400px;
    
}
}
.linkInfoFather{
    @include spaceBetweenStartRow;
    width: 100%;
    @include responsive(mobile){
        @include startColumn;
        
        }

}

 .linkInfo{
    height: 2vh;
    @include startRow;
    width: 100%;
    @include responsive(mobile){
    height: 4vh;
     width: 100%;   
    
    }
}

.linkPuplish{
    color: #000;
    @include endRow;
    width: 400px;
}
.linkCategory{
    color: #000;

}

.linkAuthorWord{
    color: #000;
    font-weight: bolder;

    
}
.shareIcon{
    font-size: 2rem;
    position: relative;
    left: -2vh;
    top: -.5vh;
    color: rgba(0, 0, 0, 0.192);
    filter: grayscale(50%);
    @include responsive(mobile){
       top: -1vh;
       left: 0;
     }
}
.otherIcons{
    position: relative;
    @include responsive(mobile){
        top: -0.5vh;
      }
}
 .linkDes{
    font-size: 1.5rem;
    font-weight: bolder;
    height: 8vh;
    width: 400px;
    overflow: hidden;
}
.seemoreFather{
    @include flex-center;
    width: 800px;
    height: 3000px;

    @include responsive(mobile){
        width: 400px;
        height: 2300px;
    }
}
.content{
    color: #000;
    font-weight: bolder;
    font-size: 1.6rem;
    line-height: 44px;
    margin-bottom: 2vh;
    height: 100%;
    margin-top: 3vh;
    &::first-letter{
        color: red;
        font-size: 4rem;
    }
    &::first-line{
        text-indent: 222px;
    }
    @include responsive(mobile){
        font-size: 1rem;
        line-height: 22pxl;
        margin-top: 6vh;
       
    }
}



.linkTitle{
    @include flex-center;
    font-size: 2rem;
    font-weight: bolder;
    height: 12vh;
    width: 100%;
    text-align: center;
    @include responsive(mobile){
        width: 400px;
        height: 12vh;
        font-size: 1.5rem;
        text-align: left;
    }
}
.linkAuthor, .linkSpurce{
    color: #000;
    @include responsive(mobile){
       @include flex-center; 
        width: 100%;
    }
}
.goUpanchorLink{
    color: #000;
        font-weight: bolder;
    @include responsive(mobile){
        width: 12vw;
        
    }
}

.goUpLink{
    height: 22vh;
    @include flexCenterColumn;
}
.goupwordLink{
    animation: go 1s infinite ease-in-out;
    @include responsive(mobile){
        animation: go 1s infinite ease-in-out;
@keyframes go {
   from{
      transform: scale(0);

   }
   to{
      transform: scale(1);
   }  
}
    }
}
.advertiseLink{
    width: 45vw;
   @include  flex-center; 
    height: 9vh;
    background-color: blue;
    font-weight: bolder;
    color: white;
    font-size: 2rem;
    position: relative;
    left: 1vw;
    animation: ads 1s infinite ease-in-out;
    @keyframes ads {
        5%{
            color: red;

        }
        20%{
            color: white;

        }   
    }   
}
