.father-load{
    @include flexCenterColumn;
    height: 100vh;
    width: 100vw;
    border: 1px solid red;
}
    .load{
        width: 4vw;
        height: 5vh;
        border: 14px solid #999;
        border-bottom: 13px solid transparent;
        border-radius: 50%;
        animation: load 200ms infinite linear;
        position: relative;
        left: 4vh;
      @include responsive(mobile){
          color: #000;
          height: 44px;
          width:43px;
       
    }    }
    
      
      @keyframes load{
        from{
          transform: rotate(0);
      
        }
        to{
          transform: rotate(360deg);
        }
      }
      