.navbarFather{
    width: 100%;
    height: 4vh;
    background-color: #000;
   @include spaceBetweenCenterRow;
   
}
.weather{
    width: 10%;
}
.dateFather{
    width: 20%;
}
.date{
    color: white;
}
.iconFather{
    width:10%;
    @include spaceBetweenStartRow;
    margin-right: 4vh;
}
.icon{
    color: white;
}
.signUpFather{
    width: 10%;
    @include spaceBetweenStartRow;

}
.signUp{
    color: white;
}

.dropDown{
    @include spaceBetweenStartRow;
    width: 30%;
     color: white;
    font-weight: bolder;
    z-index: 5; 
    position: relative;
left: -4vw;   

}
.ulFather{
    @include spaceBetweenStartColumn;
    background-color: black;
    width: 100%;
    height: 40px;
}
.dropdownUl{
    height: auto;
    width: 100%;
    position: relative;
    top: 2vh;
    background-color: black;
}

.categoryLi, .langLi, .countriesLi{
    width: 8vw;
    font-weight: bolder;
    text-align: center;
    margin: 1vh;
    cursor: pointer;
    list-style: none;
    color: white;
    &:hover{
        transform: scale(1.5);
    }
    &:active{
        box-shadow: 1px 1px 1px 1px rgba(0,0,0,1);
    }
    }

.openDropDown{
    
    color: yellow;
    font-weight: bolder;
    
    
    &:hover{
        color: white;

    }
    &:active{
        transform: scale(1.5);
    }
}
.closeDropDown{
    color: white;
    font-weight: bolder;
    &:hover{
        transform: scale(1.5);
    }
    &:active{
        border: 2px dotted red;

    }
}
.dropopenSign{
    height: 0;
    width: 0;
    position: relative;
    top: -1vh;
    left: 8vh;
    border-left: 10px solid transparent;
    border-right: 10px solid  transparent;
    border-bottom: 10px solid  white;
}
.dropcloseSign{
    height: 0;
    width: 0;
    position: relative;
    top: -1vh;
    left: 8vh;
    border-left: 10px solid transparent;
    border-right: 10px solid  transparent;
    border-top: 10px solid  white;
}
.categoeryLiActive{
display: none;
}