.redirectFather{
    @include spaceBetweenendRow;
    width: 1000px;
    height: 10%;
    border:  solid 1px red;
    flex-wrap: wrap;
    position: relative;
top: -77vh;
margin: auto;
}

.redirectContainer{
    width: 800px;
    height: 250px;
    border:  solid 1px black;
    @include spaceBetweenendRow;

    margin: 5% auto;
    

}
.redirectimgFather{
    @include spaceBetweenColumn;
    height: 250px;
    width: 200px;


}
.otherredirectFather{

    @include spaceBetweenColumn;
    height: 22vh;
    
    margin:1% auto;
}
.redirectDescription, .redirectAuthor, .redirectPuplished,.redirectSource{
color: #000;
}
.redirectTitle, .redirectDescription{
    margin-left: 2vh;
    width: 70%;
}
.redirectDescription{
    font-family: sans-serif;
}
.back{
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 4vh;
    font-weight: bolder;
}
.backButton{
    height: 4vh;
    width: 12vw;
    background-color: rgb(0, 153, 255);
    font-weight: bolder;

}
.imgRedirect{
    min-width: 200px;
    max-width: 200px;
    height: 100%;
}

