.scienceContainer{
    @include spaceBetweenCenterRow;
    height: 400px;
    width: 1400px;
    // border: 1px solid red;
    @include responsive(mobile){
        @include flexCenterColumn;
        width: 400px;
        height: 1500px;
        border: 1px solid red;

    } 
}
.scienceFather{
    @include column;
    width: 200px;
    height: 100%;
    border: 1px solid blue;
    @include responsive(mobile){
        width: 400px;
        height: 250px;
        
        
    }
}

.scienceImg{
   height: 100px;
   width: 100%;
   object-fit: contain;

}
.scienceTitle, .sciencePuplish, .scienceAuthorWord, .scienceAuthor{
    color: #000;
    width: auto;
    height: 100%;
    font-size: 15px;
    @include responsive(mobile){
      height: 22px;
    }
}
.scienceAuthorContainer{
    @include column;
    width: 100%;
    height: 2vh;
}
.scienceAuthorFather{
   @include spaceBetweenStartRow;
   width: 100%;
   height: 2vh;
}

.scienceAuthorWord{
    color: #000;
    
}
.scienceAuthor{
    color: #000;
    width: 100%;
}