.scienceContainer{
    @include spaceBetweenCenterRow;
    height: 300px;
    width: 1400px;
    // border: 1px solid red;
    @include responsive(mobile){
        @include flexCenterColumn;
        width: 400px;
        height: 1500px;
    } 
}
.scienceFather{
    @include column;
    width: 200px;
    height: 300px;
    @include responsive(mobile){
        width: 400px;
        height: 250px;
    }
}

.scienceImg{
   height: 100px;
   width: 100%;
   object-fit: contain;
   @include responsive(mobile){
       height: 50%;
       width: 25%;
   }

}
.scienceTitle{
    color: blue;
    opacity: 0.5;
    font-size: 15px;
}
.sciencePuplish, .scienceAuthorWord, .scienceAuthor{
    color: #000;
    width: auto;
    height: auto;
    font-size: 15px;
    @include responsive(mobile){
      height: 22px;
    }
}
.scienceTitle, .dark.scienceTitle{
    cursor: pointer;
    &:hover{
        color: yellow;
    }
    &:active{
        color:red;
    }
}
.scienceTitleDark, .sciencePuplishDark,.scienceAuthorWordDark,.scienceAuthorDark{
    color: white;
}
.scienceTitleDark{
    font-size: 1rem;
}
.scienceAuthorContainer{
    @include column;
    width: 100%;
    height: 2vh;
}
.scienceAuthorFather{
   @include spaceBetweenStartRow;
   width: 100%;
   height: 2vh;
}

.scienceAuthorWord{
    color: #000;
    
}
.scienceAuthor{
    color: #000;
    width: 100%;
}