.searchBar, .searchBarDark{
    width: 80%;
    height: 4vh;
    border: 1px solid red;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,1);
    position: relative;
    top: 1vw;
    left: 8vw;
}
.searchBarDark{
    background-color: #000;

}
.searchFatherDark{
    background-color: black;

}



.ul-search-bar{
    @include spaceBetweenCenterRow;
    width: 70%; 
    @include responsive(mobile){
       @include endRow;
       width: 1%;
    }
}
a{
    text-decoration: none;
}
// .searchClick{
// }

.searchLi{
    align-self:flex-start;
    position: relative;
    left: 16vw;
    font-weight: bolder;
    list-style: none;
    cursor: pointer;
    &:hover{
        color: yellow;
    }
    &:active{
        color: red;
    }
    @include responsive(mobile){
        display: none;
    }

}
.searchLiDark{
    align-self:flex-start;
    position: relative;
    left: 16vw;
    font-weight: bolder;
    list-style: none;
    cursor: pointer;
    color: white;
    &:hover{
        color: yellow;
    }
    &:active{
        color: red;
    }
}




// .latest-news-overlay, .health-overlay, .general-overlay,.busniess-overlay,
// .entertainment-overlay, .science-overlay, .sports-overlay,.tech-overlay, .more-overlay {
//     width: 100%;
//     height: 8vh;
//     border: 1px solid red;
//     opacity: 0;
    
//     &:hover{
//         opacity: 1;
//         transition: 500ms;
//     }
// }
.searchInput{
    border: none;
    outline: none;
    border-bottom: 1px solid lightgray;
    @include responsive(mobile){
   
     }
     
}
.searchInputDark{
    border: none;
    outline: none;
background-color: gray;
&::placeholder{
color: white;
}
 }
 
.search-button{
    border: none;
    outline: none;
    background-color: rgb(0, 89, 255);
    min-width: 6vw;
    min-height: 4vh;
}
.search-div{
    visibility: visible;
    width: 44vw;
    height: 4vh;
    background-color: wheat;
    position: relative;
    border-radius: 100px 100px 100px 100px;
    left: 18vw;
    top: -1vh;
    @include searchFlex;
    @include responsive(mobile){
        top: -4vh;
        width: 66vw;
        left: 1vw;

    }
}
.search-divDark{
    @include searchFlex;
    visibility: visible;
    width: 44vw;
    height: 4vh;
    background-color: lightgray;
    position: relative;
    border-radius: 100px 100px 100px 100px;
    left: 18vw;
    top: -1vh;
}
.searchDivDarkMobile{
    @include searchFlex;
    visibility: visible;
    width: 66vw;
    height: 4vh;
    background-color: lightgray;
    position: relative;
    border-radius: 100px 100px 100px 100px;
    left: 6vw;
    top: -2vh;
}
.search-div-active{
    visibility: hidden;
}
.searchClick{
position: relative;
left: 44vh;
list-style: none;
font-size: 1.7rem;
@include responsive(mobile){
left: 81vw;
}
}