.search-bar{
    width: 80%;
    height: 12vh;
    border: 1px solid red;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,1);
    position: relative;
    top: 1vw;
    left: 8vw;
  
}
.ul-search-bar{
    @include spaceBetweenCenterRow;
    width: 70%;
}
a{
    text-decoration: none;
}

.searchLi{
    align-self:flex-start;
    position: relative;
    left: 16vw;
    font-weight: bolder;
    list-style: none;
    cursor: pointer;
    &:hover{
        color: yellow;
    }
    &:active{
        color: red;
    }

}




// .latest-news-overlay, .health-overlay, .general-overlay,.busniess-overlay,
// .entertainment-overlay, .science-overlay, .sports-overlay,.tech-overlay, .more-overlay {
//     width: 100%;
//     height: 8vh;
//     border: 1px solid red;
//     opacity: 0;
    
//     &:hover{
//         opacity: 1;
//         transition: 500ms;
//     }
// }
.searchInput{
    border: none;
    outline: none;
    border-bottom: 1px solid lightgray
}
.search-button{
    border: none;
    outline: none;
    background-color: rgb(0, 89, 255);
    min-width: 6vw;
    min-height: 4vh;
}
.search-div{
    visibility: visible;
    width: 44vw;
    height: 6vh;
    background-color: wheat;
    position: relative;
    left: 18vw;
    top: 2vh;
    @include searchFlex;
    border-radius: 0 70%;

}
.search-div-active{
    visibility: hidden;
}
.searchClick{
position: relative;
left: 48vh;
list-style: none;
font-size: 1.7rem;
}

