.searchBar{
    width: 80%;
    height: 4vh;
    border: 1px solid red;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,1);
    position: relative;
    top: 1vw;
    left: 8vw;
    z-index: 5;
}

.searchBarDark{
    width: 80%;
    height: 4vh;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,1);
    position: relative;
    top: 1vw;
    left: 8vw;
    z-index: 5;
    background-color: #000;
    @include responsive(mobile){
    max-width: 100%;
   
    left: 0;

    }
}
.searchFather{
    @include responsive(mobile){
        width: auto;
        position: absolute;
        @include flex-center;
    }
}
.searchFatherDark{

    background-color: black;
    @include responsive(mobile){
        @include flex-center;


    }
}
.ul-search-bar{
    @include spaceBetweenCenterRow;
    width: 70%; 
    @include responsive(mobile){
       @include endRow;
       width: 1%;

    }
}
a{
    text-decoration: none;
}
.searchLi{
    align-self:flex-start;
    position: relative;
    left: 16vw;
    font-weight: bolder;
    list-style: none;
    cursor: pointer;
    &:hover{
        color: yellow;
    }
    &:active{
        color: red;
    }
    @include responsive(mobile){
        display: none;

    }

}
.searchLiDark{
    align-self:flex-start;
    position: relative;
    left: 16vw;
    font-weight: bolder;
    list-style: none;
    cursor: pointer;
    color: white;
    &:hover{
        color: yellow;
    }
    &:active{
        color: red;
    }
}
.searchLiDarkMobile{
    display: none;
}

.searchInput{
    border: none;
    outline: none;
    border-bottom: 1px solid lightgray;
    &[type=text]{
        font-weight: bolder;
    }
     
}
.searchInputDark{
    border: none;
    outline: none;
background-color: gray;
&::placeholder{
color: white;
font-weight: bolder;
}
&[type=text]{
    font-weight: bolder;
    color: white;
}

 }
 
.search-button{
    border: none;
    outline: none;
    background-color: rgb(0, 89, 255);
    min-width: 6vw;
    min-height: 4vh;
}
.search-div{
    visibility: visible;
    width: 44vw;
    height: 4vh;
    background-color: wheat;
    position: relative;
    border-radius: 100px 100px 100px 100px;
    left: 18vw;
    top: -1vh;
    @include searchFlex;
    @include responsive(mobile){
        top: -4vh;
        width: 66vw;
        left: 1vw;
    }
}
.search-divDark{
    @include searchFlex;
    visibility: visible;
    width: 44vw;
    height: 4vh;
    background-color: lightgray;
    position: relative;
    border-radius: 100px 100px 100px 100px;
    left: 18vw;
    top: -1vh;
}
.searchDivDarkMobile{
    @include searchFlex;
    visibility: visible;
    width: 66vw;
    height: 4vh;
    background-color: lightgray;
    position: relative;
    border-radius: 100px 100px 100px 100px;
    left: 6vw;
    top: -2vh;
}
.search-div-active{
    visibility: hidden;
}
.searchClick{
position: relative;
left: 44vh;
list-style: none;
font-size: 1.7rem;
@include responsive(mobile){
left: 79vw;

}
}