.sports{
    color:  black;;
    font-size: 2rem;
    font-weight: bolder;
    position: relative;
    top: -75vh;
    left: 0vw;
    &:hover{
       color: yellow;
    }
    &:active{
       color: red;
    }
 }
 
 