.lrendingContainer{
  @include  centerRow;
  width: 88vw;
  height: 22vh;
  border: 1px solid red;
}
.trendingFather{
    @include flexCenterColumn;
    height: 22vh;
    width: 22vw;
    border: 1px solid black;


}
