.redirectFather{
    @include spaceBetweenStartColumn;
    width: 1000px;
    @include responsive(mobile){
        @include flexCenterColumn;
        width: 400px; 
        height: 100%; 
        }
}
.redirectContainerFather{
    width: 1800px;
    height: 100%;
    position: relative;
    top: 4vh;
    @include startRow;
}
.redirectContainer{
    @include spaceBetweenStartRow;
    width: 800px;
    height: 400px;
    margin: 1%  auto;
    position: relative;
    margin: 5% auto;
    &::after{
        content: "Place Your ads here";
        width: 40vw;
        height: 6vh;
        background-color: blue;
        color: white;
        font-weight: bolder;
        font-size: 2rem;
        position: absolute;
        top: -8vh;
        @include flex-center;
        animation: ads 1s infinite ease-in-out;
    }
    @include responsive(mobile){
        @include spaceBetweenStartColumn;
        width: 400px;
        height: 300px;
        border: 1px solid blue;
        margin: 10% auto;
        position: relative;
        &::after{
            content: "Place Your Ads Here";
            font-weight: bolder;
            font-size: 1.4rem;
            width: 80vw;
            height: 6vh;
            position: absolute;
            top: -8vh;
            background-color: red;
            color: white;
            @include flex-center;
            animation: ads 1s infinite ease-in-out;
            @keyframes ads {
                5%{
                    color: white;
    
                }
                20%{
                    color: red;
    
                }   
            }   
        }
        }
}

.redirectimgFather{
    @include spaceBetweenColumn;
    height: 300px;
    width: 300px;
    @include responsive(mobile){
        height: 150px;
        width: 200px;
    }
}
.otherredirectFather{
    @include spaceBetweenStartColumn;
    height: 280px;
    width: 400px;
    @include responsive(mobile){
        @include spaceBetweenStartColumn;
        width: 250px;
        top: 0;
        height: 150px;
    }
}
 .redirectPuplished{
color: #000;
width: 50%;
height: 20%;
text-align: center;

}
.redirectTitle{
    margin-top: 1vh;
    cursor: pointer;
    color: #000;
    &:hover{
        color: yellow;
     }
     &:active{
        color: red;
     }
}
.redirectDescription{
    color: #000;
    font-family: sans-serif;
    height: 50%;
    width: 400px;
    font-weight: bolder;
    overflow: hidden;
    @include responsive(mobile){
        height: 10%;
        overflow: hidden;
    }
}
.backLink{
    text-decoration: none;

}
.back{
    color:blue;
}
.down{
    width: 100%
}
.authorFather{
    @include spaceBetweenCenterRow;
    height: 2vh;
    color: #000;
}
.redirectAuthor, .redirectAuthorWord, .redirectSource{
color: #000;
width: 12vw;
@include responsive(mobile){
    height: 2vh;
    width: auto;
}
}
.redirectAuthorWord{
    font-weight: bolder;
}
.imgRedirect{
    min-width: 90%;
    max-width: 90%;
    height: 100%;
}

.goUpRedirect{
    @include spaceBetweenStartColumn;
    font-size: 1rem;
    position: relative;
    top: -2vh;
    width: 4vh;
    height: 6vw;
    @include responsive(mobile){
        height:15vh;
        font-size: 1rem;
        width: 6vw;
        top: 0;
     }
    
 }
 .goUpanchor, .goUpanchorlang, .goUpanchorcountry{
    color: #000;
    width: 3vw;
    font-weight: bolder;
    position: relative;
    left: 0.5vh;
}

.goupwordRedirect{
    position: relative;
    font-weight: bolder;
    color: #000;
    top: -2vh;
    animation: go 1s infinite ease-in-out;
@keyframes go {
   from{
      transform: scale(0);

   }
   to{
      transform: scale(1);
   }  
}
    
}
 .redirectTopTitle{
     font-size: 2rem;
     font-weight: bolder;
     &::first-letter{
text-transform: capitalize;
     }
 }
 .lineredirect{
    margin-bottom: 4vh;
     width: 50vw;
     height: 2vh;
     border-top:  3px solid gray;
 }