// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexCenterColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin spaceBetweenCenterRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  
}
@mixin spaceBetweenendRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  
}
@mixin spaceBetweenStartRow {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  
}
@mixin  searchFlex {
  display: flex;
    align-items: center;
    justify-content: center;
}
@mixin spaceBetweenStartColumn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  
}
@mixin spaceBetweenColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  
}
@mixin column {
  display: flex;
  justify-content:flex-start;
  align-items: flex-start;
  flex-direction: column;
  
}
@mixin centerRow{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
}

@mixin  responsive($breakpoint) {
  @if $breakpoint == bigScreen {
@media only screen and (min-width:1200px ){@content};
  }
}






