// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin spaceBetweenCenterRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  
}
@mixin spaceBetweenStartRow {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  
}
@mixin  searchFlex {
  display: flex;
    align-items: center;
    justify-content: center;
}
@mixin spaceBetweenColumn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  
}




